
/* Author: Imbuga */

<link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
nav a.selected, nav a:hover {
  color: #32673f;
}

a{
 color:#ffffff;
 text-decoration:none;
 }

#wrapper{
	max-width:940px;
	margin:0 auto;
	padding:0 5%;
	background:white;
	}
	
#logo{
	text-align:center;
	margin:0;
	}

footer{
	color:white;
	background-color: grey;
	line-height: 1.5;
	height:100%;
	font-family:Georgia, serif;

	} 
	
header{
	background:#000000;
	border-color:#599a68;
	
}

  .intro {
 background:;
 color:;
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 font-size:28px;
 
 
     }
     
     .thick-green-border{
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-radius:50%;

   .care {
 background:;
 color:;
 font-family:Courier, monospace;
 font-size:24px;
 
 
     }
     
     .image1{
     background-color:#000000;
     }
     
  .icon{
  font-family:Courier, monospace;
  font-size:20px;
  color:Blue;
  }
  
  .par1, .par2{
  font-family:"Comic Sans MS", cursive, sans-serif;
  font-size:18px;
  text-align:;
  }

 
 
 /*
 }
body{
	height: 100%;
	background-color: #white;
	background-image: url(images/pg.gif);
	background-position: 50% 0;
	color: #000000;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align: center;
	
	}
*/
	
